body {
  font-family: cursive;
}

.min_vh {
  min-height: 70vh;
}

.carousel_heigth {
  height: 500px;
}

.cursor_pointer {
  cursor: pointer;
}

.card:hover {
  transform: scale(1.02);
  transition: transform 0.3s ease;
}
